<header class="header row">
	<h1 class="logo fl col5 hide-on-mobile">
    <a href="/"><img src="assets/img/logo.png" alt="Main logo"></a>
  </h1>
  <h1 class="mobile-logo col7 hide-on-desktop hide-on-tablet">
    <a href="/"><img src="assets/img/logo.png" alt="Main logo"></a>
  </h1>
  <nav class="main-nav fr col5">
    <ul class="navigation cf">
      <li class="hasSubmenu">
        <a class="jsOpenSubmenu" href="">Works</a>&nbsp;|&nbsp;
        <ul class="submenu">
          <li><a href="apartments.html">APARTMENTS</a></li>
          <li><a href="bollywood.html">DO YOU BOLLYWOOD</a></li>
          <li><a href="jarawa.html">JARAWA</a></li>

          <li><a href="bollywood.html">LONG HAIRED SHORT HAIRED</a></li>
          <li><a href="bollywood.html">I'M NOBODY</a></li>
          <li><a href="bollywood.html">WE ARE ALL MADE OF STARS</a></li>
        </ul>
      </li>
      <li><a href="about"> About</a>&nbsp;|&nbsp;</li>
      <li><a href="">News</a>&nbsp;|&nbsp;</li>
      <li><a href=""> Contact</a></li>
      <!-- <li><a href="">Links</a></li> -->
    </ul>
  </nav>
</header>