<header class="header row">
  <h1 class="mobile-logo hide-on-desktop hide-on-tablet">
    <a href="/"><img src="assets/img/logo.png" alt="Main logo"></a>
  </h1>
	
  <div class="col3">
    <h1 class="logo hide-on-mobile">
      <a href="/"><img src="assets/img/logo.png" alt="Main logo"></a>
    </h1>
  </div>
  <div class="col9">
    <h1 class="section-title">
      {% if current_p == "appartement" %}
        THE APPARTMENT
      {% elsif current_p == "long_haired_short_haired" %}
        LONG HAIRED SHORT HAIRED
      {% elsif current_p == "bollywood" %}
        DO YOU BOLLYWOOD
      {% elsif current_p == "jarawa" %}
        JARAWAS
      {% elsif current_p == "road" %}
        ROAD
      {% elsif current_p == "about" %}
        ABOUT
      {% elsif current_p == "news" %}
        NEWS
      {% elsif current_p == "contact" %}
        CONTACT
      {% endif %}
    </h1>
    {% if current_p != "index" %}
      <hr>
    {% endif %}
  </div>
</header>