<nav class="main-nav hide-on-mobile">
  <ul class="navigation cf">
    <li>
      <a href="" class="jsOpenSubmenu {% if current_p == 'work' %} selected{% endif %}">WORK</a>
      <ul class="submenu" {% if current_p == 'index' %}style="display:none;{% endif %}">

      </ul>
    </li>
    <li><a href="about" {% if current_p == 'about' %} class="selected" {% endif %}> ABOUT</a></li>
    <li><a href="news" {% if current_p == 'news' %} class="selected" {% endif %}>NEWS</a></li>
    <li><a href="contact" {% if current_p == 'contact' %} class="selected" {% endif %}>CONTACT</a></li>
  </ul>
</nav>


<nav class="main-nav-small-device hide-on-tablet hide-on-desktop">
  <div class="mobile-nav-toggle">
    <span class="mobile-nav-toggle-bar"></span>
    <span class="mobile-nav-toggle-bar"></span>
    <span class="mobile-nav-toggle-bar"></span>
  </div>
  <ul id="mobile-nav" class="navigation cf">
    <li>
      <a href="" class="jsOpenSubmenu {% if current_p == 'work' %} selected{% endif %}">WORK</a>
      <ul class="submenu" {% if current_p == 'index' %}style="display:none;{% endif %}">
        <li>
          <a href="apartments" {% if current_p == 'appartement' %}class='selected'{% endif %}>Apartments</a>
        </li>
        <li>
          <a href="long_haired_short_haired" {% if current_p == 'long_haired_short_haired' %}class='selected'{% endif %}>Long haired short haired</a>
        </li>
        <li>
          <a href="bollywood" {% if current_p == 'bollywood' %}class='selected'{% endif %}>Do you bollywood</a>
        </li>
        <li>
          <a href="jarawa" {% if current_p == 'jarawa' %}class='selected'{% endif %}>Jarawa</a>
        </li>
        <li>
          <a href="road" {% if current_p == 'road' %}class='selected'{% endif %}>Road</a>
        </li>
      </ul>
    </li>
    <li><a href="about" {% if current_p == 'about' %} class="selected" {% endif %}> ABOUT</a></li>
    <li><a href="news" {% if current_p == 'news' %} class="selected" {% endif %}>NEWS</a></li>
    <li><a href="contact" {% if current_p == 'contact' %} class="selected" {% endif %}>CONTACT</a></li>
  </ul>
</nav>