<button class="openProjectDesc enDesc">EN</button>
<button class="openProjectDesc frDesc">FR</button>

<div id="en-desc" class="project-description">
  <a href="" class="close">X</a>
  {% if current_p == 'appartement' %}
    <h4>The appartment</h4>
    <p>It is an extension of our inner selves, not necessarily a safe haven which protects us from the outside world.  It is a reflection of our " Me ".  A theatrical stage on which we " act " out scenes daily.  In my photos, I tried to capture these young women in their chosen interiors, their homes. Through seemingly banal actions, they represent  unconsciously, their particular social, economic personal, emotional situation at that moment in time. They all play their self-assigned role in the lives they are experiencing.  I chose to use their appartments as a truthful backdrop which can sometimes balance on the edge of the surreal and not simply as decor. The lines between reality and illusion become indistinct. Minute details can turn the dramatic insignificant and vice versa.</p>
  {% elsif current_p == 'long_haired_short_haired' %}
    <h4>Long Hair</h4>
    <p>
      According to the culture after the millennium, the difference in sexes is becoming more and more unclear, among young people. One of the main differences is the way adolescents use or don’t use make-up and how they have their unique hair styles. The new pop culture and influences from fashion dictate that young people rebel and appear to look different.
      <br><br>
      My images capture this one moment in time to look different and be one self – a time which is soon surpassed for the subjects. After that period, they have to do what society expects from them, in terms of credible appearance.
    </p>
  {% elsif current_p == 'bollywood' %}
    <h4>Do you Bollywood?</h4>
    <p>
      Bombay (now known as Mumbai) is the east’s capital of films – more films are made there than in the western counterpart, Hollywood. It has its own special characteristics left over from the influence of the days of the Raj.  It is the city that many Indians flock to in search of work or wealth and fame, and is a teeming metropolis of would-be Bollywood actors, all playing their roles to perfection on the streets. The sounds, colours and people are all just as in an enormous film studio.
      <br><br>
      No matter how miserable and poor Bombay looks to outsiders, Bollywood represents a dream for the people. The reality is everyone has their unique role to play in their life, even though they are unknown “stars” living out their destiny. Cinema in Bombay and in all of India is widely attended as it is a means of escape from the sad realities of life, and the city is like one vast film set, where the show must go on, regardless.
      <br><br>
      My pictures, which are nothing to do with Bollywood itself, show real scenes, shot in only one take, of ordinary people’s lives, all struggling to star in their own films, without the need for any props, special effects or a director shouting “action”.
    </p>
  {% elsif current_p == 'jarawa' %}
    <h4>The Andaman & Nicobar Islands – Search for the lost tribe, the JARAWAS</h4>
    <p>
      Southeast of India, in the Bay of Bengal and the Andeman Sea, there are forgotten archipelagos: The Andaman & Nicobar Islands. A former British colony, off the coast of Myanmar (Burma), they reach right down to the Island of Sumatra in Indonesia. It is group of more than 250 tropical islands, where most of them are still unknown and unexplored. On a geographic map, they are nearer Myanmar but have been considered part of India, since the latter’s independence in 1947.
      <br><br>
      Due to their isolated position, these islands give shelter to preserve tribes in another age, undoubtedly the most mysterious in the world. Some of them are still living today as if in the Stone Age. We do not know much about their history, traditions and their language… we do not even know how they refer to themselves. 
      <br><br>
      One of these tribes, the Jarawas, has always been hostile to all strangers, notably with the inhabitants of the Andamans. Each year, Indian locals were killed when they accidentally came upon the Jarawa’s territory. 
      <br><br>
      With the influx of immigration from the provinces of the sub-continent to the islands, the archipelago is under constant development.  The most obvious sign is the large new trunk roads, which cross the Jarawa reservation, to afford travel on and between the Islands. Today, life is not simple for the Jarawas; they are affected by the local population. They even ask passengers on passing busses for food and clothing and, as a consequence, their attitude to nudity has changed. With the “modernization and development” of the Jarawas they are becoming affected by outside sicknesses and diseases, previously unknown to them. These are some of the main reasons why the Jarawas are becoming extinct.
      <br><br>
      Sadly, no one knows for how much longer this “paradise - Jarawa” can exist. Can the Indian government find a happy medium between keeping the tribes intact and preserving their lifestyle, and developing tourism business – both at complete odds with each other? Can the Jarawas cross over into the developed world with their long-standing ancestral traditions, as they have lived for thousands of years? Only time will tell…
    </p>
  {% elsif current_p == 'road' %}
    <h4>Road</h4>
    <p>
      Taking the high road is easy to say and it reveals the innocence and the ignorance of a bystander. However, the most absurd is the fact that people do believe in the so-called bystander. People lift their heads to move towards the downward regard... even we have a bunch of questions...
    </p>
    <p>
      you do not need to question. the beacon of light is the answer. you do not need to question. even though you wonder the destination you do not need to question. even though you have another answer.
      how dare you question the belief is your power how dare you question could it be possible that you have another destination how dare you question no one have another answer
      i know you may question why the beacon of light glimmers i know you may question why it takes so long to get to the destination i know you may question do i believe in that answer
      please do not question the beacon of light does not glimmer but glitter please do not question work harder to reach the destination please do not question even you wonder.... even you wonder.... even you wonder...
      you could question will the leafs get greener and greener? you could question  will they still wander and wonder? you could question will the road stay as red as on the instant forever?
      i would say only if you are a dreamer i would say only if you are a dreamer i would say  only if you are a dreamer
      well..., anyways, see you tomorrow, Burkina Faso
    </p>
  {% endif %}
  
</div>
<div id="fr-desc" class="project-description">
  <a href="" class="close">X</a>
  {% if current_p == 'appartement' %}
    <h4>L’appartement</h4>
    <p>C’est le prolongement de soi-même, pas forcément un lieu protecteur qui nous met en dehors du monde. Il est le reflet de notre moi. C’est comme une sorte de scène sur laquelle  se jouent des “pièces” de notre quotidien. Dans me photos,  je mets en scène des jeunes femmes dans leurs intérieurs, dans leurs lieux de vie. Il s’agit de représentations iconiques différentes pour chaque situation. Mais elles jouent toutes leur propre rôle, dans un quotidien théâtralisé de la vie quotidienne.</p>
  {% elsif current_p == 'long_haired_short_haired' %}
    <h4>Long Hair</h4>
    <p>
      According to the culture after the millennium, the difference in sexes is becoming more and more unclear, among young people. One of the main differences is the way adolescents use or don’t use make-up and how they have their unique hair styles. The new pop culture and influences from fashion dictate that young people rebel and appear to look different.
      <br><br>
      My images capture this one moment in time to look different and be one self – a time which is soon surpassed for the subjects. After that period, they have to do what society expects from them, in terms of credible appearance.
    </p>
  {% elsif current_p == 'bollywood' %}
    <h4>Do you Bollywood?</h4>
    <p>
      Bombay (now known as Mumbai) is the east’s capital of films – more films are made there than in the western counterpart, Hollywood. It has its own special characteristics left over from the influence of the days of the Raj.  It is the city that many Indians flock to in search of work or wealth and fame, and is a teeming metropolis of would-be Bollywood actors, all playing their roles to perfection on the streets. The sounds, colours and people are all just as in an enormous film studio.
      <br><br>
      No matter how miserable and poor Bombay looks to outsiders, Bollywood represents a dream for the people. The reality is everyone has their unique role to play in their life, even though they are unknown “stars” living out their destiny. Cinema in Bombay and in all of India is widely attended as it is a means of escape from the sad realities of life, and the city is like one vast film set, where the show must go on, regardless.
      <br><br>
      My pictures, which are nothing to do with Bollywood itself, show real scenes, shot in only one take, of ordinary people’s lives, all struggling to star in their own films, without the need for any props, special effects or a director shouting “action”.
    </p>
  {% elsif current_p == 'jarawa' %}
    <h4>The Andaman & Nicobar Islands – Search for the lost tribe, the JARAWAS</h4>
    <p>
      Southeast of India, in the Bay of Bengal and the Andeman Sea, there are forgotten archipelagos: The Andaman & Nicobar Islands. A former British colony, off the coast of Myanmar (Burma), they reach right down to the Island of Sumatra in Indonesia. It is group of more than 250 tropical islands, where most of them are still unknown and unexplored. On a geographic map, they are nearer Myanmar but have been considered part of India, since the latter’s independence in 1947.
      <br><br>
      Due to their isolated position, these islands give shelter to preserve tribes in another age, undoubtedly the most mysterious in the world. Some of them are still living today as if in the Stone Age. We do not know much about their history, traditions and their language… we do not even know how they refer to themselves. 
      <br><br>
      One of these tribes, the Jarawas, has always been hostile to all strangers, notably with the inhabitants of the Andamans. Each year, Indian locals were killed when they accidentally came upon the Jarawa’s territory. 
      <br><br>
      With the influx of immigration from the provinces of the sub-continent to the islands, the archipelago is under constant development.  The most obvious sign is the large new trunk roads, which cross the Jarawa reservation, to afford travel on and between the Islands. Today, life is not simple for the Jarawas; they are affected by the local population. They even ask passengers on passing busses for food and clothing and, as a consequence, their attitude to nudity has changed. With the “modernization and development” of the Jarawas they are becoming affected by outside sicknesses and diseases, previously unknown to them. These are some of the main reasons why the Jarawas are becoming extinct.
      <br><br>
      Sadly, no one knows for how much longer this “paradise - Jarawa” can exist. Can the Indian government find a happy medium between keeping the tribes intact and preserving their lifestyle, and developing tourism business – both at complete odds with each other? Can the Jarawas cross over into the developed world with their long-standing ancestral traditions, as they have lived for thousands of years? Only time will tell…
    </p>
  {% elsif current_p == 'road' %}
    <h4>Road</h4>
    <p>
      Taking the high road is easy to say and it reveals the innocence and the ignorance of a bystander. However, the most absurd is the fact that people do believe in the so-called bystander. People lift their heads to move towards the downward regard... even we have a bunch of questions...
    </p>
    <p>
      you do not need to question. the beacon of light is the answer. you do not need to question. even though you wonder the destination you do not need to question. even though you have another answer.
      how dare you question the belief is your power how dare you question could it be possible that you have another destination how dare you question no one have another answer
      i know you may question why the beacon of light glimmers i know you may question why it takes so long to get to the destination i know you may question do i believe in that answer
      please do not question the beacon of light does not glimmer but glitter please do not question work harder to reach the destination please do not question even you wonder.... even you wonder.... even you wonder...
      you could question will the leafs get greener and greener? you could question  will they still wander and wonder? you could question will the road stay as red as on the instant forever?
      i would say only if you are a dreamer i would say only if you are a dreamer i would say  only if you are a dreamer
      well..., anyways, see you tomorrow, Burkina Faso
    </p>
  {% endif %}
</div>