@import 'lib/normalize';
@import 'lib/clearfix';
@import url(http://fonts.googleapis.com/css?family=Karla:400,700);
@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/grid';
@import 'lib/responsive';

html{
  font-size: 62.5%;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  color: $default-font-color;
  font-family: $default-font-family;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

h1, h2, h3, h4 ,h5, h6{
  font-weight: 700;
}
ul, ol, li{
  padding: 0;
}
.fr{
  float: right;
}
.fl{
  float: left;
}

/* Basic Layout */
.app-container{
  margin: 0 auto;
  text-align: left;
}

.header{
  background: #fff;
  .logo{
    margin-top: 20px;
    @include grayscale();
    @include opacity(0.5);
    @include basic-transtion(all, .5s, ease-in-out);
    img{
      height: 60px;
    }
    &:hover{
      @include grayscale(false);
      @include opacity(1);
    }
  }
  .main-nav{
    text-align: right;
  }
}

.navigation{
  display: inline-block;
  margin-top: 40px;
  & > li{
    float: left;
    color: $gray-color;
    letter-spacing: 3px;
  }
  a{
    padding: 0;
    @include font-size(14);
    color: $gray-color;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    @include basic-transtion(all, .3s, ease-in-out);
    &:hover{
      color: $highlight-color;
    }
  }
  .hasSubmenu{
    position: relative;
  }
}

.submenu{
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 200;
  width: 210px;
  padding: 20px;
  text-align: left;
  background: #fff;
  box-shadow: 0 0 4px 0 $gray-color;
  li{
    padding: 5px 0;
  }
  a{
    letter-spacing: 1px;
  }
}

.submenu:after {
  bottom: 100%;
  border: solid $gray-color;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.submenu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

.footer{
  height: 40px;
  color: $gray-color;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #fff;
  p{
    display: inline-block;
    @include font-size(12);
    line-height: 40px;
    &.credit{
      text-align: right;
    }
  }
  a{
    color: $gray-color;
    @include basic-transtion(all, .3s, ease-in-out);
    &:hover{
      color: $highlight-color;
    }
  }
}

/* Main Page */
.main-section{
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12{
    padding: 0;
    overflow: hidden;
    img{
      width: 100%;
      cursor: pointer;
    }
  }
  .apartments-cover, .bollywood-cover{
    height: 440px;
  }
  .jarawa-cover{
    height: 300px;
  }
  .last-row{
    height: 228px;
  }
}

[class*="-cover"]{
  position: relative;
  background: url(../img/loader.gif) center center no-repeat;
}

[class*="-cover"]::after, [class*="-item"]::after{
  position: absolute;
  display: inline-block;
  width: 100%;
  content: 'loading image';
  text-align: center;
  font-size: 12px;
  letter-spacing: 3px;
  top: 56%;
  left: 0;
  z-index: -1;
}

.album-intro{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,.8);
  overflow: hidden;
  @include opacity(0);
  @include basic-transtion(all, .5s, ease-in-out);
  &:hover{
    @include opacity(1);
  }
  a{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
  }
  .album-title{
    display: block;
    @include font-size(22);
    text-transform: uppercase;
  }
  .album-photo-counts{
    display: inline-block;
    @include font-size(14);
    font-style: italic;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #fff;
  }
}

.news{
  position: relative;
  height: 300px;
  text-align: center;
  a{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%; 
    height: 140px; 
    margin-top: -75px;
    color: $default-font-color;
    text-decoration: none;
  }
  h3{
    display: inline-block;
    @include font-size(36);
    text-transform: uppercase;
    padding: 5px 15px;
    border: 1px solid $default-font-color;
    margin: 10px 0;
    @include basic-transtion(all, .5s, ease-in-out);
    &:hover{
      color: #fff;
      background-color: $default-font-color;
      box-shadow: inset 0 0 0 3px rgba(255,255,255,.2);
    }
  }
  h4{
    @include font-size(24);
    margin: 0;
    letter-spacing: 3px;
  }
}
