@import 'lib/normalize';
@import 'lib/clearfix';
@import url(http://fonts.googleapis.com/css?family=Karla:400,700);
@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/grid';
@import 'lib/responsive';
@import 'lib/responsiveslides';
@import 'lib/admin';

html{
  font-size: 62.5%;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  color: $default-font-color;
  font-family: $default-font-family;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

h1, h2, h3, h4 ,h5, h6{
  font-weight: 700;
  letter-spacing: 3px;
}
ul, ol, li{
  padding: 0;
}
h1{
  @include font-size(36);
}
h2{
  @include font-size(30);
}
h3{
  @include font-size(36);
}
h4{
  @include font-size(24);
}
p, label{
  @include font-size(14);
  line-height: 24px;
}
a{
  color: $default-font-color;
  &:hover{
    color: $highlight-color;
  }
}

.fr{
  float: right;
}
.fl{
  float: left;
}

.relative{
  position: relative;
}

.no-top-margin{
  margin-top: 0 !important;
}

.no-right-padding{
  padding-right: 0;
}

::selection{
  color: #fff;
  background-color: $highlight-color;
}

.hide{
  display: none;
}

fieldset{
  border: none;
}

/* Basic Layout */
.app-container{
  margin: 0 auto;
  text-align: left;
  height: 100%;
}

.header{
  background: #fff;
  .logo{
    margin: 20px 0;
    @include grayscale();
    @include opacity(0.5);
    @include basic-transtion(all, .5s, ease-in-out);
    &:hover{
      @include grayscale(false);
      @include opacity(1);
    }
    img{
      height: 60px;
    }
  }
}

aside{
  padding-bottom: 20px;
}

.navigation{
  display: inline-block;
  width: 94%;
  margin: 0;
  padding: 0;
  text-align: right;
  & > li{
    color: $gray-color;
    padding-bottom: 10px;
    a{
      padding: 0;
      @include font-size(14);
      color: $gray-color*.7;
      text-decoration: none;
      font-weight: 400;
      @include basic-transtion(all, .2s, ease-in-out);
      &:hover{
        color: #000;
      }
      &.selected{
        color: $highlight-color;
        font-weight: bold;
      }
    }
  }
}

.submenu{
  li{
    padding: 5px 0;
  }
  a{
    letter-spacing: 1px;
    @include opacity(.7);
    &:hover, &.selected{
      color: $highlight-color !important;
      @include opacity(1);
    }
  }
}

.footer{
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 40px;
  color: $gray-color;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #fff;
  p{
    display: inline-block;
    @include font-size(12);
    line-height: 40px;
    margin: 0;
    &.credit{
      text-align: right;
    }
  }
  a{
    color: $gray-color;
    @include basic-transtion(all, .3s, ease-in-out);
    &:hover{
      color: $highlight-color;
    }
  }
}

/* Main Page */
.main-section{
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12{
    overflow: hidden;
  }
}

.main-photo img{
  width: 100%;
}

[class*="-cover"]{
  position: relative;
  background: url(../img/loader.gif) center center no-repeat;
}

[class*="-cover"]::after, [class*="-item"]::after{
  position: absolute;
  display: inline-block;
  width: 100%;
  content: 'loading image';
  text-align: center;
  font-size: 12px;
  letter-spacing: 3px;
  top: 56%;
  left: 0;
  z-index: -1;
}

.album-intro{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,.8);
  overflow: hidden;
  @include opacity(0);
  @include basic-transtion(all, .5s, ease-in-out);
  &:hover{
    @include opacity(1);
  }
  a{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
  }
  .album-title{
    display: block;
    @include font-size(20);
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .album-photo-counts{
    display: inline-block;
    @include font-size(14);
    font-style: italic;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #fff;
  }
}

.news{
  position: relative;
  height: 300px;
  text-align: center;
  a{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%; 
    height: 140px; 
    margin-top: -75px;
    color: $default-font-color;
    text-decoration: none;
  }
}

.expo-title{
  display: inline-block;
  @include font-size(36);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px 15px;
  margin: 10px 0;
  border: 1px solid $default-font-color;
  @include basic-transtion(all, .3s, ease-in-out);
  &:hover{
    color: #fff;
    background-color: $default-font-color;
    box-shadow: inset 0 0 0 3px rgba(255,255,255,.2);
  }
}
.expo-desc{
  @include font-size(24);
  margin: 0;
  letter-spacing: 3px;
}

/* About page */
.about-header{
}

.section-title{
  text-align: center;
  @include font-size(28);
  letter-spacing: 3px;
  margin-bottom: 0;
}

.about-title{
  display: inline-block;
  @include font-size(24);
  letter-spacing: 2px;
  margin: 0 auto;
}

.about-subtitle{
  color: $gray-color;
  @include font-size(17);
  letter-spacing: 2px;
  font-style: italic;
  margin-bottom: 20px;
}

hr{
  width: 300px;
  margin: 20px auto 30px auto;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.half-list li{
  list-style: none;
  width: 40%;
  float: left;
  margin-right: 5%;
  .list-title{
    margin-top: 0;
  }
}

.content-title{
  @include font-size(18);
  letter-spacing: 3px;
  margin-top: 40px;
}

/* works pages */
.work-desc{
  @include font-size(14);
  text-align: right;
  line-height: 24px;
  width: 94%;
}

.col9.relative{
  height: 100%;
}

.project-description{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 10px 40px;
  background-color: rgba(255,255,255,.9);
  @include box-sizing(border-box);
}

.close{
  position: absolute;
  right: 40px;
  top: 20px;
  z-index: 120;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  border: 1px solid #ddd;
  &:hover{
    color: #fff;
    background-color: #000;
  }
}

.enDesc, .frDesc{
  position: absolute;
  top: -30px;
  display: block;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  background-color: #000;
  border: none;
  @include basic-transtion(all, .3s, ease-in-out);
  &:hover, &.actived{
    color: #000;
    background-color: #fff;
    outline: 1px solid #ddd;
  }
}

.enDesc{
  right: 75px;
}

.frDesc{
  right: 40px;
}

.slider-container{
  text-align: center;
  .col2{
    padding: 0;
  }
}

.rslides{
  li{
    text-align: center;
    background: url(../img/loader.gif) center center no-repeat;
    img{
      float: none;
      margin: 0 auto;
      width: auto;
    }
  }
}

.slide-thumb{
  -webkit-backface-visibility: hidden;
  display: inline-block;
  margin: 0;
  width: 94%;
  li{
    float: left;
    display: inline-block;
    width: 32%;
    height: 54px;
    text-align: center;
    overflow: hidden;
    background-color: #eee;
    background-position: center top;
    background-size: auto 100%;
    border: 1px solid #fff;
    @include grayscale();
    @include opacity(.5);
    @include basic-transtion(all, .5s, ease-in-out);
    a{
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: none;
      background-position: center;
      background-size: cover;
    }
    &:hover, &.rslides_here{
      @include grayscale(false);
      @include opacity(1);
    }
  }
}

/* Contact page */
.contact-form{
  margin-top: -6px;
}

textarea, input[type=text], input[type=email], input[type=password]{
  width: 98%;
  color: #9b9b9b;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ddd !important;
  border-radius: 3px;
  font-family: 'Karla', sans-serif;
}

textarea{
  height: 100px;
}

.buttons input, input[type=submit], button.submit{
  float: right;
  display: inline-block;
  font-size: 20px !important;
  font-family: 'Karla', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 10px 25px;
  margin-top: 30px;
  background-color: #fff;
  border: 1px solid #414141;
  cursor: pointer;
  @include basic-transtion(all, .5s, ease-in-out);
}

.buttons input:hover, input[type=submit]:hover, button.submit:hover{
  color: #fff;
  background-color: #414141;
}

.buttons input:active, input[type=submit]:active, button.submit:active{
  color: #fff;
  background-color: #999;
}

/* News page */
