{% block content %}
  <section id="about-section" class="main-section row">
    <h2>Mr. Lee, Ching-Tsang</h2>
    <h3>Living and working in Paris</h3>
    
    <h4>Langues :</h4>
    <p>
      Français, Anglais, Chinois (Mandarin)
    </p>

    <h4>Education :</h4>
    <p>*2007 - 2008 :</p>
    <p class="edu-detail">
      Université Paris 8, Paris<br>
      Master 2 RECH.<br>
      Esthétique et Histoire arts plastiques et Photographie
    </p>
    <p>*2004 - 2007 :</p>
    <p class="edu-detail">
      Université Paris 8, Paris<br>
      Maîtrise de Science et Technique<br>
      Photographie et Multimédia
    </p>

    <h4>Telephone :</h4>
    <p>+33 (0) 6 76 45 58 75</p>

    <h4>E-mail :</h4>
    <p>chingtsang.lee@gmail.com</p>

  </section>
{% endblock %}