{% block content %}
  {{ "about.js" | asset_url | script_tag }}
  {% assign current_p = "about" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">    
    <div class="row about-content">
      <aside class="col3 no-right-padding">
        {% include 'nav' %}
      </aside>

      <div class="col9">
        <header class="about-header">
          <h2 class="about-title">Mr. Lee, Ching-Tsang</h2>
          <h3 class="about-subtitle">Living and working in Paris</h3>
        </header>
        <h4 id="about-title" class="content-title no-top-margin">BIOGRAPHIE</h4>
        <p id="about-desc"></p>
        
        <h4 class="content-title">EDUCATION</h4>
        <div class="cf">
          <ul class="edu half-list">
          </ul>
        </div>
        
        <h4 class="content-title">LANGUES</h4>
        <p>Français, Anglais, Chinois (Mandarin)</p>

        <h4 class="content-title">CONTACT</h4>
        <div class="cf">
          <ul class="half-list">
            <li>
              <p class="list-title"><strong>E-mail :</strong></p>
              <p>chingtsang.lee@gmail.com</p>
            </li>
            <li>
              <p class="list-title"><strong>Telephone :</strong></p>
              <p>+33 (0) 6 76 45 58 75</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}