{% block content %}
  {% assign current_p = "work" %}
  {% include "header" %}

  <section id="about-section" class="about-section row">
    <header class="about-header">
      <h1 class="section-title">APARTMENTS</h1>
    </header>
    <hr>
    
    <div class="slider-container row">
      <div class="col10">
        <ul id="slider" class="rslides">
          <li><img src="assets/img/photos/apartments/1.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/2.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/3.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/4.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/5.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/6.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/7.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/8.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/9.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/10.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/11.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/12.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/13.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/14.jpg" alt=""></li>
          <li><img src="assets/img/photos/apartments/15.jpg" alt=""></li>
        </ul>
      </div>
      
      <div class="col2">
        <ul id="slider-pager" class="slide-thumb cf">
          <li style="background-image: url(assets/img/photos/apartments/1.jpg)"><a href=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/2.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/3.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/4.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/5.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/6.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/7.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/8.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/9.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/10.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/11.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/12.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/13.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/14.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/apartments/15.jpg" alt=""></a></li>
        </ul>
        <p class="work-desc">Living theatre of everyday life</p>
      </div>
    </div>

  </section>
{% endblock %}