{% block content %}
  {% assign current_p = "bollywood" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">  
    <div class="slider-container row">
      <aside class="col3 no-right-padding">
        {% include 'nav' %}
        <ul id="slider-pager" class="slide-thumb cf">
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/1_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/2_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/3_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/4_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/5_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/6_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/7_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/8_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/9_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/10_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/11_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/12_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/13_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/14_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/15_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/16_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/bollywood/17_s.jpg)"></a></li>
        </ul>
        <button class="openProjectDesc enDesc">EN</button>
        <button class="openProjectDesc frDesc">FR</button>
      </aside>

      <div class="col9 relative">
        {% include 'project-desc' %}
        <ul id="slider" class="rslides">
          <li><img src="assets/img/photos/bollywood/1.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/2.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/3.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/4.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/5.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/6.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/7.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/8.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/9.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/10.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/11.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/12.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/13.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/14.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/15.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/16.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/17.jpg" alt=""></li>
        </ul>
      </div>
    </div>

  </section>
{% endblock %}