{% block content %}
  {% assign current_p = "work" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">
    <header class="about-header">
      <h1 class="section-title">DO YOU BOLLYWOOD</h1>
    </header>
    <hr>

    <div class="slider-container row">
      <div class="col10">
        <ul id="slider" class="rslides">
          <li><img src="assets/img/photos/bollywood/1.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/2.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/3.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/4.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/5.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/6.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/7.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/8.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/9.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/10.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/11.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/12.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/13.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/14.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/15.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/16.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/17.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/18.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/19.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/20.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/21.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/22.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/23.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/24.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/25.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/26.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/27.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/28.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/29.jpg" alt=""></li>
          <li><img src="assets/img/photos/bollywood/130.jpg" alt=""></li>
        </ul>
      </div>


      <div class="col2">
        <ul id="slider-pager" class="slide-thumb cf">
          <li><a href=""><img src="assets/img/photos/bollywood/1.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/2.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/3.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/4.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/5.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/6.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/7.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/8.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/9.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/10.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/11.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/12.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/13.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/14.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/15.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/16.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/17.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/18.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/19.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/20.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/21.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/22.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/23.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/24.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/25.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/26.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/27.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/28.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/29.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/bollywood/30.jpg" alt=""></a></li>
        </ul>
        <p class="work-desc">
          Bombay (now known as Mumbai) is the east’s capital of films – more films are made there than in the western counterpart, Hollywood. It has its own special characteristics left over from the influence of the days of the Raj.
        </p>
        <p class="work-desc">
          It is the city that many Indians flock to in search of work or wealth and fame, and is a teeming metropolis of would-be Bollywood actors, all playing their roles to perfection on the streets. The sounds, colours and people are all just as in an enormous film studio.No matter how miserable and poor Bombay looks to outsiders, Bollywood represents a dream for the people. The reality is everyone has their unique role to play in their life, even though they are unknown “stars” living out their destiny. 
        </p>
        <p class="work-desc">
          Cinema in Bombay and in all of India is widely attended as it is a means of escape from the sad realities of life, and the city is like one vast film set, where the show must go on, regardless.My pictures, which are nothing to do with Bollywood itself, show real scenes, shot in only one take, of ordinary people’s lives, all struggling to star in their own films, without the need for any props, special effects or a director shouting “action”.
        </p>
      </div>
    </div>

  </section>
{% endblock %}