{% block content %}
  {% assign current_p = "contact" %}
  {% include "header" %}
  
  <section id="contact-section" class="contact-section row">    
    <div class="contact-content row">
      <aside class="col3 no-right-padding">
        {% include 'nav' %}
      </aside>
      <div class="col9">
        <form id="form1" name="form1" class="contact-form wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
  action="https://creed88.wufoo.com/forms/z7x4z5/#public">
          <fieldset>
            <div id="foli1" class="notranslate">
              <label class="desc" id="title1" for="Field1">NAME</label>
              <input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required/>
            </div>
          </fieldset>
          <fieldset>
            <div id="foli2" class="notranslate">
            <label class="desc" id="title2" for="Field2">EMAIL</label>
            <input id="Field2" name="Field2" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2" required/> 
          </fieldset>
          <fieldset>
            <div id="foli3" class="notranslate">
            <label class="desc" id="title3" for="Field3">MESSAGE</label>
            <textarea id="Field3" name="Field3" class="field textarea medium" spellcheck="true" required></textarea>
          </fieldset>
          <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit"/>

          <div class="hide">
            <label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
            <input type="hidden" id="idstamp" name="idstamp" value="vLtv6eDwQhQSCz55NBCrK7K6MZnmoxmPGedo5QDSJL0=" />
          </div>
        </form>
      </div>
    </div>
    
  </section>
{% endblock %}