{% block content %}
  {% assign current_p = "contact" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">
    <header class="about-header">
      <h1 class="section-title">CONTACT</h1>
      <hr>
      <h2 class="about-title">KEEP IN TOUCH</h2>
    </header>
    
    <div class="row news-content">
      
    </div>
    
  </section>
{% endblock %}