{% block content %}
  {% assign current_p = "index" %}
  {% include "header" %}
  <article id="main-section" class="main-section row">
    <aside class="col3 no-right-padding">
      {% include 'nav' %}
    </aside>
    
    <section class="col9 main-photo">
      <img src="assets/img/photos/apartments/1.jpg">
    </section>
    
  </article>
{% endblock %}