{% block content %}
  {% include "header" %}
  <section id="main-section" class="main-section row">
    <div class="col8 apartments-cover" data-col='8'>
      <img src="assets/img/photos/apartments/1.jpg">
      <div class="album-intro">
        <a href="apartments">
          <h5 class="album-title">APARTMENTS</h5>
          <h6 class="album-photo-counts">15 photographs</h6>
        </a>
      </div>
    </div>
    <div class="col4 bollywood-cover" data-col='4'>
      <img src="assets/img/photos/bollywood/3.jpg">
      <div class="album-intro">
        <a href="bollywood">
          <h5 class="album-title">DO YOU BOLLYWOOD</h5>
          <h6 class="album-photo-counts">15 photographs</h6>
        </a>
      </div>
    </div>
    
    <div class="col6 news">
      <a href="news">
        <h4 class="expo-desc">exposition</h4>
        <h3 class="expo-title">
          GALERIE LE 29
        </h3>
        <h4 class="expo-desc">février-mars 2013</h4>
      </a>
    </div>
    <div class="col6 jarawa-cover">
      <img src="assets/img/photos/jarawa/2.jpg">
      <div class="album-intro">
        <a href="jarawa">
          <h5 class="album-title">JARAWA</h5>
          <h6 class="album-photo-counts">15 photographs</h6>
        </a>
      </div>
    </div>

    <div class="col4 long_haired_short_haired-cover last-row">
      <img src="assets/img/photos/long_haired_short_haired/10.jpg">
      <div class="album-intro">
        <a href="long_haired_short_haired">
          <h5 class="album-title">LONG HAIRED SHORT HAIRED</h5>
          <h6 class="album-photo-counts">15 photographs</h6>
        </a>
      </div>
    </div>
    <div class="col4 long_haired_short_haired-cover last-row">
      <img src="assets/img/photos/im_nobody/1.jpg">
      <div class="album-intro">
        <a href="nobody">
          <h5 class="album-title">I'M NOBODY</h5>
          <h6 class="album-photo-counts">15 photographs</h6>
        </a>
      </div>
    </div>
    <div class="col4 we_are_all_made_of_stars-cover last-row">
      <img src="assets/img/photos/we_are_all_made_of_stars/star.jpg">
      <div class="album-intro">
        <a href="made_of_stars">
          <h5 class="album-title">WE ARE ALL MADE OF STARS</h5>
          <h6 class="album-photo-counts">15 photographs</h6>
        </a>
      </div>
    </div>
  </section>
{% endblock %}