{% block content %}
  {% assign current_p = "work" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">
    <header class="about-header">
      <h1 class="section-title">JARAWA</h1>
      <p class="work-desc">
        The Andaman & Nicobar Islands – Search for the lost tribe, the JARAWASSoutheast of India, in the Bay of Bengal and the Andeman Sea, there are forgotten archipelagos: The Andaman & Nicobar Islands. A former British colony, off the coast of Myanmar (Burma), they reach right down to the Island of Sumatra in Indonesia. It is group of more than 250 tropical islands, where most of them are still unknown and unexplored. On a geographic map, they are nearer Myanmar but have been considered part of India, since the latter’s independence in 1947.Due to their isolated position, these islands give shelter to preserve tribes in another age, undoubtedly the most mysterious in the world. Some of them are still living today as if in the Stone Age. We do not know much about their history, traditions and their language… we do not even know how they refer to themselves. One of these tribes, the Jarawas, has always been hostile to all strangers, notably with the inhabitants of the Andamans. Each year, Indian locals were killed when they accidentally came upon the Jarawa’s territory. With the influx of immigration from the provinces of the sub-continent to the islands, the archipelago is under constant development.  The most obvious sign is the large new trunk roads, which cross the Jarawa reservation, to afford travel on and between the Islands. Today, life is not simple for the Jarawas; they are affected by the local population. They even ask passengers on passing busses for food and clothing and, as a consequence, their attitude to nudity has changed. With the “modernization and development” of the Jarawas they are becoming affected by outside sicknesses and diseases, previously unknown to them. These are some of the main reasons why the Jarawas are becoming extinct.Sadly, no one knows for how much longer this “paradise - Jarawa” can exist. Can the Indian government find a happy medium between keeping the tribes intact and preserving their lifestyle, and developing tourism business – both at complete odds with each other? Can the Jarawas cross over into the developed world with their long-standing ancestral traditions, as they have lived for thousands of years? Only time will tell… 
      </p>
    </header>
    
    
  </section>
{% endblock %}