{% block content %}
  {% assign current_p = "jarawa" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">  
    <div class="slider-container row">
      <aside class="col3 no-right-padding">
        {% include 'nav' %}
        <ul id="slider-pager" class="slide-thumb cf">
          <li><a href="" style="background-image: url(assets/img/photos/jarawa/1_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/jarawa/2_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/jarawa/3_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/jarawa/4_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/jarawa/5_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/jarawa/6_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/jarawa/7_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/jarawa/8_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/jarawa/9_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/jarawa/10_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/jarawa/11_s.jpg)"></a></li>
        </ul>
        <button class="openProjectDesc enDesc">EN</button>
        <button class="openProjectDesc frDesc">FR</button>
      </aside>

      <div class="col9 relative">
        {% include 'project-desc' %}
        <ul id="slider" class="rslides">
          <li><img src="assets/img/photos/jarawa/1.jpg" alt=""></li>
          <li><img src="assets/img/photos/jarawa/2.jpg" alt=""></li>
          <li><img src="assets/img/photos/jarawa/3.jpg" alt=""></li>
          <li><img src="assets/img/photos/jarawa/4.jpg" alt=""></li>
          <li><img src="assets/img/photos/jarawa/5.jpg" alt=""></li>
          <li><img src="assets/img/photos/jarawa/6.jpg" alt=""></li>
          <li><img src="assets/img/photos/jarawa/7.jpg" alt=""></li>
          <li><img src="assets/img/photos/jarawa/8.jpg" alt=""></li>
          <li><img src="assets/img/photos/jarawa/9.jpg" alt=""></li>
          <li><img src="assets/img/photos/jarawa/10.jpg" alt=""></li>
          <li><img src="assets/img/photos/jarawa/11.jpg" alt=""></li>
        </ul>
      </div>
    </div>

  </section>
{% endblock %}