{% block content %}
  {% assign current_p = "work" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">
    <header class="about-header">
      <h1 class="section-title">LONG HAIRED SHORT HAIRED</h1>
    </header>
    <div class="slider-container row">
      <div class="col10">
        <ul id="slider" class="rslides">
          <li><img src="assets/img/photos/long_haired_short_haired/1.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/2.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/3.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/4.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/5.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/6.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/7.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/8.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/9.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/10.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/11.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/12.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/13.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/14.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/15.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/16.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/17.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/18.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/19.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/20.jpg" alt=""></li>
        </ul>
      </div>
      
      <div class="col2">
        <ul id="slider-pager" class="slide-thumb cf">
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/1.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/2.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/3.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/4.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/5.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/6.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/7.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/8.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/9.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/10.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/11.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/12.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/13.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/14.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/15.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/16.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/17.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/18.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/19.jpg" alt=""></a></li>
          <li><a href=""><img src="assets/img/photos/long_haired_short_haired/20.jpg" alt=""></a></li>
        </ul>
        <p class="work-desc">
          According to the culture after the millennium, the difference in sexes is becoming more and more unclear, among young people. One of the main differences is the way adolescents use or don’t use make-up and how they have their unique hair styles. The new pop culture and influences from fashion dictate that young people rebel and appear to look different.
        </p>
      </div>
    </div>

  </section>
{% endblock %}