{% block content %}
  {% assign current_p = "work" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">
    <header class="about-header">
      <h1 class="section-title">LONG HAIRED SHORT HAIRED</h1>
      <p class="work-desc">
        According to the culture after the millennium, the difference in sexes is becoming more and more unclear, among young people. One of the main differences is the way adolescents use or don’t use make-up and how they have their unique hair styles. The new pop culture and influences from fashion dictate that young people rebel and appear to look different.
      </p>
    </header>
    
    
  </section>
{% endblock %}