{% block content %}
  {% assign current_p = "long_haired_short_haired" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">  
    <div class="slider-container row">
      <aside class="col3 no-right-padding">
        {% include 'nav' %}
        <ul id="slider-pager" class="slide-thumb cf">
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/1_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/2_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/3_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/4_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/5_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/6_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/7_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/8_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/9_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/10_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/11_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/12_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/13_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/14_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/15_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/16_s.jpg)"></a></li>
          <li><a href="" style="background-image: url(assets/img/photos/long_haired_short_haired/17_s.jpg)"></a></li>
        </ul>
        <button class="openProjectDesc enDesc">EN</button>
        <button class="openProjectDesc frDesc">FR</button>
      </aside>

      <div class="col9 relative">
        {% include 'project-desc' %}
        <ul id="slider" class="rslides">
          <li><img src="assets/img/photos/long_haired_short_haired/1.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/2.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/3.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/4.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/5.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/6.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/7.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/8.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/9.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/10.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/11.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/12.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/13.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/14.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/15.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/16.jpg" alt=""></li>
          <li><img src="assets/img/photos/long_haired_short_haired/17.jpg" alt=""></li>
        </ul>
      </div>
    </div>

  </section>
{% endblock %}