{% block content %}
  {% assign current_p = "work" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">
    <header class="about-header">
      <h1 class="section-title">WE ARE ALL MADE OF STARS</h1>
      <p class="work-desc">
        Who is star ?
      </p>
    </header>
    
    
  </section>
{% endblock %}