{% block content %}
  {% assign current_p = "work" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">
    <header class="about-header">
      <h1 class="section-title">WE ARE ALL MADE OF STARS</h1>
    </header>
    <hr>

    <div class="slider-container row">
      <div class="col10">
        <ul id="slider" class="rslides">
          <li><img src="assets/img/photos/we_are_all_made_of_stars/star.jpg" alt=""></li>
        </ul>
      </div>
      
      <div class="col2">
        <ul id="slider-pager" class="slide-thumb cf">
          <li><a href=""><img src="assets/img/photos/we_are_all_made_of_stars/star.jpg" alt=""></a></li>
        </ul>
        <p class="work-desc">Who is star ?</p>
      </div>
    </div>    
    
  </section>
{% endblock %}