{% block content %}
  {{ "news.js" | asset_url | script_tag }}
  {% assign current_p = "news" %}
  {% include "header" %}
  
  <section id="news-section" class="news-section row">
    <div class="news-content row">
      <aside class="col3 no-right-padding">
        {% include 'nav' %}
      </aside>
      <div class="col9">
        <h4 id="news-type" class="expo-desc"></h4>
        <h3 id="news-title" class="expo-title"></h3>
        <h4 id="news-date" class="content-title news-date"></h4>
        <h4 id="news-subtitle" class="content-title"></h4>
        <p id="news-desc"></p>
        <p id="news-link" class="news-link"></p>
        <h4 id="news-location-title" class="content-title">LOCATION</h4>
        <p id="news-location"></p>
      </div>
    </div>
    
  </section>
{% endblock %}