{% block content %}
  {% assign current_p = "news" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">
    <header class="about-header">
      <h1 class="section-title">NEWS</h1>
      <hr>
      <h2 class="about-title">SOMETHINGS NEW?</h2>
    </header>
    
    <div class="news-content row">
      <div class="col8">
        <h4 class="expo-desc">exposition</h4>
        <h3 class="expo-title">
          GALERIE LE 29
        </h3>
        <h4 class="expo-desc">février-mars 2013</h4>
      </div>
      <div id="map-canvas" class="col4"></div>
    </div>
    
  </section>
{% endblock %}