{% block content %}
  {% assign current_p = "news" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">
    <div class="news-content row">
      <aside class="col3 no-right-padding">
        {% include 'nav' %}
      </aside>
      <div class="col9">
        <h4 class="expo-desc">Exposition</h4>
        <h3 class="expo-title">
          NAME OF EXPO
        </h3>
        <h4 class="content-title no-top-margin">15/08 - 30/12 2013</h4>
        <h4 class="content-title">ABOUT THIS EXPO</h4>
        <p>
          This expo is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.. 
        </p>
        <p>
          <a href="">http://thisexposite.com</a>
        </p>
        <h4 class="content-title">LOCATION</h4>
        <p>10 rue Saint Antoine, 75004 Paris</p>
      </div>
    </div>
    
  </section>
{% endblock %}