{% block content %}
  {% assign current_p = "work" %}
  {% include "header" %}
  
  <section id="about-section" class="about-section row">
    <header class="about-header">
      <h1 class="section-title">I'M NOBODY</h1>
      <p class="work-desc">
        How do we determine the masculine and feminine? and why is it important ? In our current language, we cannot avoid categorizing everyone as male or female. How can we describe people who have lived part of their lives as women and another part as men and conversely men as women? Today as in the past, this extra category transgerder or transsexual or crossdresser, often appear as something larger than their own everyday normal selves. In the popular culture, the media frequently cast them as freaks or perverts, and in the past scholarly journals, doctors and scientists even portrayed them as mentally ill.After all, they are but ordinary and even extraordinary human being who searched for workable solution to pressing personal problems just like everyone else in the world.
      </p>
    </header>
    
    
  </section>
{% endblock %}